<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hangman!</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body>
    <div class="left-column">
      Let's play a game of hangman!<br/>
      Guess a letter!
      <div class="flash-message"></div>
      <form class="guess-a-letter" method="POST">
          <input class="letter-input" type="text" name="guessed-letter" required autofocus /><br/>
          <button id='guess-a-letter-button' class="btn btn-lg btn-primary btn-block" type="submit">Guess!</button>
      </form>
      <br/>
      <div class="letter-list guessed-letters-wrong">WRONG LETTERS
        <div class="letters letter-list"></div>
      </div>
      <br/>
      <div class="letter-list guessed-letters-right">RIGHT LETTERS
        <div class="letters letter-list"></div>
      </div>
    </div>
    <div class="right-column">
      <div class="blanks">
      </div>
      <div class="judgement"></div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/js/hangman.js"></script>
  </body>
</html>